.videos {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 200px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.videos video {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: black;
    border: 1px solid white;
}

.videos button {
    margin: 10px 0;
    background-color: rgb(44, 215, 44);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}